table#accounts {
  background-color: orange;

  & td:nth-of-type(1) {
    text-align: center;
  }
}

img.icon {
  display: inline-block;
  height: 1em;
  width: auto;
  aspect-ratio: 1 / 1;

  overflow: hidden;
  vertical-align: -0.125em;
}
